@import "./reset.css";
@import url(https://use.fontawesome.com/releases/v5.0.4/css/all.css);
@import url(https://fonts.googleapis.com/css?family=FredokaOne&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap);

/* 版面高度設置 */
html {
  margin: 0 5% 0 5%;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

.container-fluid{
   background-color: rgb(253, 253, 253);
   width: 1300px;
   height: 600px;
   background-image: url(./../images/slider/index_slider_5.jpg);
   background-repeat: no-repeat;
   background-size: contain;
}

/* 導覽列上面那塊 */
.et-hero-tabs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 65vh; */
  position: relative;
  /* background: rgb(129, 120, 120); */
  text-align: center;
  padding: 0 2em;
  z-index: 999;
}

/* 下面的各區塊 */
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

/* 導覽列那條 */
.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

/* 固定在上面 */
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

/* 導覽列的格子 */
.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  background: #FFE066;
}

/* 游標移過去時顯示顏色 */
.et-hero-tab:hover {
  color: white;
  background: #90be6d;
  transition: all 0.5s ease;
  text-decoration: none;
}


@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}


/* slider */
.slides-nav {
  z-index: 99;
  position: fixed;
  right: -5%;
  display: flex;
  align-items: center;
  height: 100%;
  color: #111;
}

@media (min-width: 54em) {
  .slides-nav {
    right: 2%;
  }
}

.slides-nav__nav {
  position: relative;
  right: 0;
  display: block;
  font-size: 1em;
  transform: rotate(90deg);
  transform-origin: center;
}

.slides-nav button {
  position: relative;
  display: inline-block;
  padding: 0.35em;
  margin: 0;
  appearance: none;
  background: transparent;
  border: 0;
  overflow-x: hidden;
  transition: color 0.5s ease;
}

.slides-nav button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 0;
  background: #111;
  transition: width 0.4s ease;
}

.slides-nav button:hover {
  cursor: pointer;
  color: rgba(240, 188, 188, 0.75);
  transition: color 0.5s ease;
}

.slides-nav button:hover:after {
  width: 100%;
  transition: width 0.4s ease;
}

.slides-nav button:focus {
  outline: 0;
}

.is-sliding .slides-nav {
  pointer-events: none;
}

.slides {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
  background: #fff;
  transition: background 1s cubic-bezier(0.99, 1, 0.92, 1);
}

.is-sliding .slides {
  background: #ededed;
  transition: background 0.3s cubic-bezier(0.99, 1, 0.92, 1);
}

.slide {
  z-index: -1;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: z-index 1s ease;
}

.slide.is-active {
  z-index: 15;
  transition: z-index 1s ease;
}

.slide__content {
  position: relative;
  margin: 0 auto;
  height: 95%;
  width: 95%;
  top: 2.5%;
}

@media (min-width: 54em) {
  .slide__content {
    height: 80%;
    width: 80%;
    top: 10%;
  }
}

.slide__header {
  z-index: 9;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  transform: translateX(5%);
}

@media (min-width: 54em) {
  .slide__header {
    transform: translateX(-5%);
  }
}


@media (min-width: 54em) {
  .slide__title {
    font-size: 5em;
  }
}

.slide__title .title-line {
  display: block;
  overflow-y: hidden;
}

.slide__title .title-line span {
  display: inline-block;
  transform: translate3d(0, 140%, 0);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.8s ease;
}

.slide__title .title-line span:nth-child(1) {
  transition-delay: 0.15s;
}

.slide__title .title-line span:nth-child(2) {
  transition-delay: 0.3s;
}

.is-active .slide__title .title-line span {
  transform: translate3d(0, 0%, 0);
  opacity: 1;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.1s ease;
}

.is-active .slide__title .title-line:nth-of-type(2n) span {
  transition-delay: 0.2s;
}

.slide__figure {
  z-index: 7;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.is-sliding .slide__figure {
  transform: scale(0.8);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.slide__img {
  background-size: cover;
  background-attachment: fixed;   /*固定圖片*/
  background-position: 70%;
  height: 0%;
  width: 100%;
}

.is-active .slide__img {
  height: 91%;
  opacity: 1;
}

/* 關於我們 */
.spark--anim {
  animation: spark 1s 2 ease-out;
}

@keyframes spark {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translate(-100px);
  }
  100% {
    transform: translate(1100px);
  }
}

img {
  width: 180px;
  height: 170px;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  padding-top: 70px;
  height: 330px;
  width: 200px;
  margin: 30px;
}

.image {
  perspective: 1700px;
  position: relative;
  height: 100%;
  width: 100%;
}

.image__side {
  width: 220px;
  height: 250px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 20px;
  background-image: linear-gradient(-150deg, #9ac7db 100%, #e0dddb 100%);
  text-align: center;
}

.text {
  font-size: 20px;
  color: rgb(245, 244, 239);
}

.image:hover .image__side--front {
  transform: rotateY(-180deg);
}

.image__side--back {
  transform: rotateY(180deg);
}

.image:hover .image__side--back {
  transform: rotateY(0deg);
}


/* 信用卡比較 */
.subtitle_card{
  width: max-content;
  padding: 1.2rem;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 90%, #fad0c4 100%);
	/* background-color: rgb(250, 201, 201); */
	z-index: 99;
  position: relative;
  grid-column: 1 / 3;   
	grid-row: 1 / 4;
	align-self: center;
  /* justify-self: start; */
  font-size: x-large;
  font-weight: 500;
  width: 450px;
  transition: all 0.1s ease;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-eye.png"), auto;
}

.subtitle_card:hover {
  background-color: #f8a75b;
  transform: scale(1.15);
}

/* 商城 */
.card-image {
	display: block;
  min-height: 35rem; /* layout hack */
  max-width: 330px;
	background: #fff center center no-repeat;
  background-size: cover;
}

.card-image > img {
	display: block;
	width: 100%;
}

.card-image.is-loaded {
	filter: none; 
	transition: filter 1s;
}

.card-list {
  width: 1600px;
  display: block;
	/* text-align: center; */
}

.card {
	display: inline-block;
	width: 100%;
	max-width: 20rem;
	margin: 1.5rem;
	font-size: 1.5rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}


/* 論壇交友 */
:root {
	--lemon: #f4e939;
	--lemon-light: #fffccc;
	--berry: #eeb766;
	--melon: #ff6565;
	--fetch-border: 0.25em solid var(--berry);

	--clip: polygon(
		13.11% 90.58%,
		16.56% 80.25%,
		12.89% 58.92%,
		28.49% 32.1%,
		31.45% 23.32%,
		40.59% 5.64%,
		51.21% 2.82%,
		61.54% 4.36%,
		66.88% 6.68%,
		72.12% 16.53%,
		83.2% 29.85%,
		90.21% 48.93%,
		90.24% 74.74%,
		92.62% 88.65%,
		67.72% 99.54%
	);
}

.grid {
	margin: auto;
	display: grid;
	grid-template-rows: 10rem auto 5rem;
}

.subtitle {
	width: max-content;
  padding: 1.2rem;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 90%, #fad0c4 100%);
	/* background-color: rgb(250, 201, 201); */
	z-index: 99;
  position: relative;
  grid-column: 1 / 3;   
	grid-row: 1 / 4;
	align-self: center;
  /* justify-self: start; */
  font-size: x-large;
  font-weight: 500;
  width: 300px;

  /* 特效 */
  transform: skew(-5deg);
  transition: all 0.1s ease;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-eye.png"), auto;
}

.subtitle:hover {
  background-color: #f8a75b;
  transform: scale(1.15);
}

.panels {
  width: 1000px;
  height: 550px;
	display: flex;
  grid-row: 1 / 3;
  background-image: url(../images/friends.jpg);
  background-repeat: no-repeat;
  margin:0px;
  padding:0px;
  background-size: cover;
	/* background-color: var(--lemon); */
	position: relative;
  /* box-shadow: 1.5rem 1.5rem 0 var(--lemon-light); */
  padding-left: 50px;
}

.panel {
	height: 50vmin;
}

.wavy-line {
	margin-top: -1.5rem;
	grid-column: 1 / -1;
	grid-row: 1/ 3;
	align-self: center;
	justify-self: center;
	position: relative;
	z-index: 0;
	font-family: sans-serif;
	color: transparent;
	font-size: 10vmin;
	user-select: none;
}


@media screen and (min-width: 56.25rem) {
	.grid {
		grid-template-columns: 10vmin 15vmin auto 15vmin;
		grid-template-rows: 10vmin auto 10vmin;
	}

	.title {
		margin: 0;
		writing-mode: vertical-rl;
		grid-column: 4 / -1;
		grid-row: 1 / -1;
		align-self: center;
		background-color: transparent;
	}

	.panels {
		grid-column: 3 / 4;
    grid-row: 1 / 4;
    height: 650px;
	}


/* 資訊網 */
.aaa {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1000px;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

.aaa > * {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 600px;
  width: 100%;
  padding: 2.5rem;
}

aside {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/right-edges.png");
  background-position: top right;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 30px 100%;
}

aside .info_pic {
  display: block;
  height: auto;
}


.bt {
  font-size: 18px;
  color: #383838;
  border: none;
  background-color: #f37b7f;
  transform: skew(-5deg);
  transition: all 0.1s ease;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-eye.png"), auto;
}

.bt:hover {
  background-color: #f8a75b;
  transform: scale(1.15);
}

@media (max-width: 700px) {
  body {
    background: #383838;
    font-size: 16px;
  }
  div {
    flex-flow: column;
  }
  div > * {
    max-width: 700px;
    height: 100%;
  }
  aside {
    background-image: none;
    background-color: white;
  }
  aside img {
    max-width: 400px;
  }
}





/* footer */
.footer{
  padding-left: 480px;
  padding-top: 20px;
}

.footer ul {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
}
.footer ul li {
 position: relative;
 list-style: none;
 width: 40px;
 height: 40px;
 margin: 0px 18px;
}
.footer ul li:before{
 content: '';
 position: absolute;
 bottom: -10px;
 left: -5px;
 width: 100%;
 height: 10px;
 background: #3d3a3a;
 transform: skewX(-41deg);
}
.footer ul li:after{
 content: '';
 position: absolute;
 top:5px;
 left: -9px;
 width: 9px;
 height: 100%;
 background: #2a2a2a;
 transform: skewY(-49deg);
}
.footer ul li span{
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
 display: flex !important;
 background: #2a2a2a;
 justify-content: center;
 align-items: center;
 color: #fff;
 font-size: 30px !important;
}
.footer ul li:hover span {
 z-index: 1000;
 transition: .3s;
 color: rgb(248, 245, 250);
}
/* .footer ul li:hover span:nth-child(5){
 transform: translate(40px, -40px);
 opacity: 1;
} */
/* .footer ul li:hover span:nth-child(4){
 transform: translate(30px, -30px);
 opacity: .8;
} */
.footer ul li:hover span:nth-child(3){
 transform: translate(20px, -20px);
 opacity: .6;
}
.footer ul li:hover span:nth-child(2){
 transform: translate(10px, -10px);
 opacity: .4;
}
.footer ul li:hover span:nth-child(1){
 transform: translate(0px, 0px);
 opacity: .2;
}
.footer ul li:nth-child(1):hover span{
 background: rgb(1, 66, 151) !important;
}
.footer ul li:nth-child(2):hover span{
 background: rgb(27, 38, 87) !important;
}
.footer ul li:nth-child(3):hover span{
 background: rgb(184, 4, 61) !important;
}
.footer ul li:nth-child(4):hover span{
 background: rgb(90, 5, 247) !important;
}


/* 底部 */
.gotop {
  text-align: center !important;
  padding: 3rem !important;
  margin-top: 10px;
  font-size: 14px;
  background-color: #90be6d;
}

#back_bt{
  position: fixed;
  left: 1430px;
  bottom: 30%;
  z-index: 99;
}
}