@import "./reset.css";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://use.fontawesome.com/releases/v5.0.4/css/all.css);
@import url(https://fonts.googleapis.com/css?family=FredokaOne&display=swap);

/* 版面高度設置 */
html {
  margin: 0 5% 0 5%;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

/* 導覽列上面那塊 */
.et-hero-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 65vh; */
  position: relative;
  text-align: center;
  padding: 0 2em;
}

/* 導覽列那條 */
.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

/* 固定在上面 */
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
  width: 92%;
}

/* 導覽列的格子 */
.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  background: #FFE066;
}

/* 游標移過去時顯示顏色 */
.et-hero-tab:hover {
  color: white;
  background: #90be6d;
  transition: all 0.5s ease;
  text-decoration: none;
}

@media (min-width: 800px) {

  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }

  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1.2rem;
  }
}



/* 底部 */
#icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.gotop {
  text-align: center !important;
  padding: 3rem !important;
  margin-top: 10px;
  font-size: 16px;
  background-color: #90be6d;
}

#back_bt {
  position: fixed;
  left: 95%;
  bottom: 30%;
  z-index: 99;
}

/* footer */
.gotop ul {
  /* position: relative; */
  display: flex;
  transform-style: preserve-3d;
}

.gotop ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  margin: 0px 18px;
}

.gotop ul li:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #464545;
  transform: skewX(-41deg);
}

.gotop ul li:after {
  content: '';
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #464545;
  transform: skewY(-49deg);
}

.gotop ul li span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #464545;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}

.gotop ul li:hover span {
  z-index: 1000;
  transition: .3s;
  color: rgb(248, 245, 250);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}

.gotop ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.gotop ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: .9;
}

.gotop ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: .7;
}

.gotop ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .5;
}

.gotop ul li:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: .3;
}

.gotop ul li:nth-child(1):hover span {
  background: rgb(1, 66, 151) !important;
}

.gotop ul li:nth-child(2):hover span {
  background: rgb(83, 170, 204) !important;
}

.gotop ul li:nth-child(3):hover span {
  background: rgb(184, 4, 61) !important;
}

.gotop ul li:nth-child(4):hover span {
  background: rgb(141, 87, 241) !important;
}


/*中間區塊*/
.centercard {
  text-align: center;
  font-size: 20px;
  height: 30rem;
  margin-top: 5%;
  margin-left: 20%;

}


/*迷彩比卡丘*/
.imageone {
  position: absolute;
  width: 25rem;
  margin-left: 55%;
  margin-top: 10%;
}




@keyframes hahawoo {
  from {
    visibility: visible;
    margin-top: 4%;
  }

  ;

  to {
    visibility: hidden;
    margin-top: 6%;
  }

  ;
}

/*忘記密碼*/
#imagefive {
  position: absolute;
  margin-left: 50%;
  visibility: hidden;
  animation-name: hahawoo;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: ease-out;
  margin-top: 3%;
}


/*整個表格*/
.tableareatotal {
  margin: auto;
  border: solid;
  border-color: #FFE066;
  width: 450px;

}

/*表格的td*/
.tableareatotal td {
  padding: 10px;
}


/*忘記密碼按鈕樣式*/

#forgetbtn {
  border: 0;
  background-color: #FF5964;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 3%;
  height: 3rem;
}


#forgetbtn:hover {
  color: #FF5964;
  background-color: #fff;
  border: 2px #FF5964 solid;
}


/*按鈕樣式*/

#Button1 {
  border: 0;
  background-color: #35A7FF;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
}


#Button1:hover {
  color: #35A7FF;
  background-color: #fff;
  border: 2px #35A7FF solid;
}



/*密碼互動視窗*/
.modal-title {
  font-size: 30px;

}

/*互動視窗中間區塊*/
.modal-body {
  height: 120px;
  text-align: center;
  font-size: 20px;
}

.modal-footer {
  height: 70px;
}



/*按鈕樣式*/

#Button2 {
  border: 0;
  background-color: #FF596A;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  height: 2rem;
}


#Button2:hover {
  color: #ED6E7B;
  background-color: #fff;
  border: 2px #ED6E7B solid;
}