.slider-pro {
	margin:auto;
	margin-top:3%;
	position: relative;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
    background-color: #FFF;
    height:23rem;
    font-size:18px;
    border-radius: 20px;
    border: solid 2px #FFE066;
    padding:10px;
    text-align:center;
}
	
.sp-slides-container {
	position: relative;
	
}

.sp-mask {
	position: relative;
	overflow: hidden;
	
}

.sp-slide {
	position: absolute;
}

.sp-image-container {
	overflow: hidden;
	
}


.sp-thumbnails-container {
	position: relative;
	overflow: hidden;
	direction: ltr;
	margin-top:2%;
	width:25rem;
	
}

.sp-left-thumbnails,
.sp-right-thumbnails {
  position: absolute;
  top: 0;
  
}

.sp-right-thumbnails {
	right: 0;
}

.sp-left-thumbnails {
	left: 0;
}

.sp-thumbnail-container {
	position: relative;
	display: block;
	overflow: hidden;
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* Right thumbnails with pointer
--------------------------------*/
.sp-right-thumbnails.sp-has-pointer {
	margin-left: -13px;
}

.sp-right-thumbnails.sp-has-pointer .sp-thumbnail {
	position: absolute;
	left: 25px;
	margin-left: 0 !important;
}

/*那個標籤*/
.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
	content: '';
	position: absolute;
	height: 100%;
	border-left: 5px solid #FF5964;
	left: 0;
	top: 0;
	margin-left: 13px;
}
/*那個標籤*/
.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	top: 50%;
	margin-top: -8px;
	border-right: 13px solid #FF5964;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}



/* Touch Swipe
--------------------------------------------------*/
.sp-grab {
	cursor: url(/image/one-finger-click.png), move;
}

.sp-grabbing {
	cursor: url(/image/one-finger-click.png), move;
}

.sp-selectable {
	cursor: url(/image/one-finger-click.png), move;
}


/* Buttons
--------------------------------------------------*/
.sp-buttons {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

.sp-rtl .sp-buttons {
	direction: rtl;
}

.sp-full-screen .sp-buttons {
	display: none;
}

.sp-button {
	width: 15px;
	height: 15px;
	border: 2px solid #FF5964;
	border-radius: 50%;
	margin: 4px;
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.sp-selected-button {
	background-color: #FF5964;
}
